*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
}

.container {
  height: 500px;
  width: 500px;
  margin: 60px auto;
}

.square {
  width: 33%;
  height: 33%;
  float: left;
  font-size: 150px;
}

.open {
  cursor: pointer;
}

.open:hover {
  background-color: #e2dbe0;
}

#a1,#b1,#c1,
#a2,#b2,#c2 {
  border-right: 5px solid black;
}

#a1,#a2,#a3,
#b1,#b2,#b3 {
  border-bottom: 5px solid black;
}
